doctype html
html(lang="en")
    head
        title= "LookAtMyCode"
        //- link(rel="stylesheet", href="lib/pure.css")
        link(rel="stylesheet", href="styles.css")
        script(type='text/javascript',src='lib/jquery.js',charset="utf-8")
        script(type='text/javascript',src='lib/lodash.js',charset="utf-8")
        script(type='text/javascript',src='lib/backbone.js',charset="utf-8")
        script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js',charset="utf-8")
        script(type='text/javascript',src='scripts.js',charset="utf-8")
    body
        h1 LookAtMyCode.org
        textarea#editor.code
